@import "../../../styles/colors";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  height: 6.5rem;
  background-color: $bgColorLight;
  margin: 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);

  &-logo {
    display: block;
    width: 5.6rem;
    img {
      max-width: 100%;
    }
  }
  &-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-right: 1.5rem;
  }
}
