@import "./styles/normalize";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import '~primeflex/primeflex.css';
@import './styles/colors';

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: $white;
  background-color: $bgColor;
}
a:link, a:visited {
  display: block;
  text-decoration: none;
  color: $white;
}
a:hover, a:active {
  color: red;
}