@import "./styles/normalize";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~primeflex/primeflex.css';
@import './styles/colors';

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: $white;
  background-color: $bgColor;
}
a:link, a:visited {
  display: block;
  text-decoration: none;
  color: $white;
}
a:hover, a:active {
  color: red;
}

.app-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
